<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>helpmate- About Us</title>
    <link rel="icon" type="image/png" href="./../asset/logos.png"/>
    <link rel="stylesheet"  href="../asset/postcard.css">
    <style>
        .aboutusdiv
        {
            width: 79%;
            padding: 10%;
            min-height: 55vh;
            background-image: url('../asset/cut50.svg');
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
            
            
        }
        .aboutusp
        {
            text-align: justify;
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
        }
        @media(max-width:550px)
{
    .aboutusdiv{ padding-top: 35%;}  
    .aboutusp{font-size: 20px;}
}
    </style>
</head>
<body>
    <header>
       <a href="/"><div class="logo"><img src="../asset/cut1.svg" alt="logo" width="222" height="68"></div></a>
        <h1 style="text-align: center;" >About Us</h1>
    </header>
    <div class="aboutusdiv">
        <p class="aboutusp">
           Helpmate web application is contributed to physically challenged people.
           It is an open webpage where an any public individual can contribute himself by helping this physically challenged people.
          The main aim of this project is to help physically challenged people  in their education by helping them write their board exams and objective based exams .
          Each person will be recognised and certified for his support to this physically challenged people..
          Using this webpage large amount of people can help and support physically challenged people at their free time.<br>

          <br>
          The website is designed by:<br>
          <br>
          Pavan S<br>
          Abhishek J<br>
        </p>
     
    </div>
    
</body>
</html>